VITE_API_URL=http://43.204.141.93/api/v1
VITE_PUBLIC_BASE_PATH=/
MYSQL_DATABASE=inventry_management_system
MYSQL_USER=inventory_user
MYSQL_PASSWORD=CHANGE_ME_STRONG_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
